@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico');

body {
  background-image: url('./images/tattooarms_bgi.jpg');
  font-family: 'Nunito', sans-serif;
  color: white;
}

/* buttons */
.btn {
  background-color: #344743;
  font-family: 'Nunito', sans-serif;
}

.btn:hover {
  background-color: grey;
}

.btn:focus {
  background-color: #344743;
}

/* form elements */
/* adjusts the label on the fields from going up too high */
.input-field label:not(.label-icon).active {
  transform: translateY(-40%);
}

.select-wrapper input.select-dropdown {
  border-bottom: 1px solid white;
  color: white;
}

.dropdown-content li>span {
  color: #BF691E;
}

/* makes the input lines white as well as the text once input */
input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=number]:not(.browser-default) {
  border-bottom:1px solid white;
  color: white;
}

/* this changes the line color to match the text color (below) and makes the completed font color white */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus  {
  border-bottom: 1px solid #BF691E;
  box-shadow: 0 1px 0 0 #BF691E;
}

/* this changes the color of the label's text on the form */
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label {
  color: #BF691E;
}

/* adjustments for mobile first */
@media only screen and (max-width: 768px) {
  body {
    background-image: url('./images/tattooarms_sm_bgi.jpg');
  }
  /* img.tattooImage {
    height: 440px;
    width: 410px;
  } */
}

@media only screen and (max-width: 411px) {
  body {
    background-image: url('./images/tattooarms_xsm_bgi.jpg');
  }
}