.btn-style {
    display: block;
    padding: 0px 9px 0px 9px;
}

.reset-page {
    margin-top: 10%;
    background-color: #2a303e;
    border: #2a303e;
    width: 50%;
    align-items: center;
    text-align: center;
}

.container {
    padding: 10px 0px 10px 0px;
}

.p-resetPassword {
    color: white;
    font-family: 'Nunito', sans-serif;
    align-items: left;
    text-align: left;
    padding-bottom: 15px;
}

.m-resetPassword {
    color: white;
    font-family: 'Nunito', sans-serif;
    align-items: center;
    text-align: center;
}

.loading {
    margin: 1em;
    font-size: 24px;
    margin-top: 10%;
    background-color: #2a303e;
    border: #2a303e;
    padding: 10px 0px 10px 0px;
};

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #BF691E; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }