.btn-style {
    display: block;
    padding: 0px 9px 0px 9px;
}

.password-page {
    margin-top: 10%;
    background-color: #2a303e;
    border: #2a303e;
    width: 55%;
}

.container {
    padding: 10px 5px 10px 5px;
}

.p-forgotPassword {
    color: white;
    font-family: 'Nunito', sans-serif;
    align-items: left;
    text-align: left;
    padding-bottom: 15px;
}

.forgot-p {
    text-align: left;
    align-items: left;
    color: white;
  }