#loginForm {
  width: 90%;
}

.cancelLogin-btn, .login-btn {
  float: left !important;
  margin-left: 2.5%
}

.password-btn {
  margin-bottom: 0 !important;
  margin-top: 40%;
}

.link {
  padding-bottom: 5px;
}

@media only screen and (min-width: 731px) {
  #loginForm {
    width: 60%;
  }
}

@media only screen and (min-width: 1366px) {
  #loginForm {
    width: 45%;
  }
}
